<form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm" class="task-form">
  <h2>New Task</h2>
  <div class="form-row">
    <div class="form-field">
      <label for="assignedTo">Assigned To</label>
      <input type="text" [(ngModel)]="task.assignedTo" name="assignedTo" required>
    </div>
    <div class="form-field">
      <label for="status">Status</label>
      <select id="status" [(ngModel)]="task.status" name="status" required>
        <option value="Not Started">Not Started</option>
        <option value="In Progress">In Progress</option>
        <option value="Completed">Completed</option>
      </select>
    </div>
  </div>
  
  <div class="form-row">
    <div class="form-field left">
      <label for="dueDate">Due Date</label>
      <input type="date" id="dueDate" [(ngModel)]="task.dueDate" name="dueDate" required>
    </div>
    <div class="form-field left">
      <label for="priority">Priority</label>
      <select id="priority" [(ngModel)]="task.priority" name="priority" required>
        <option value="High">High</option>
        <option value="Normal">Normal</option>
        <option value="Low">Low</option>
      </select>
    </div>
  </div>
  
 

  <label for="comments">Description</label>
  <textarea id="comments" [(ngModel)]="task.comments" name="comments"></textarea>

  <button type="submit" class="add-task" >Add Task</button>
  
</form>
